VITE_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJmNTM1OGY1OC0wMDljLTRmM2YtOTVkNC01MTNiZmZmNWUzM2UiLCJlbWFpbCI6ImFzbWFhZXR0YWxpaUBnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiOGVjODViMzJjZWQ0MzAwN2IyZGEiLCJzY29wZWRLZXlTZWNyZXQiOiJiOWNiMjc1Njg3YmRjZmFlZTQyYTkzZTZmZGI0NjQyMWU2N2NjMTM4ZGY3ZjRjNGFmMDI4YTkxMzE4NjhmNDc0IiwiZXhwIjoxNzk4OTI4NDkxfQ.uZv8kW_LCOd8Lc53NyY1JhKkFqXcpko9PyKP1G9cx4A
